@model Garage_G5.Models.ViewModels.VehicleFilterViewModel



<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <p>@Html.DisplayNameFor(model => model.VehicleType)</p>
            </th>
            <th>
                <p>@Html.DisplayNameFor(model => model.GenralRegistration)</p>
            </th>
            <th>
                <p>Arrival</p>
            </th>
            <th>
                <p>Time in garage</p>
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GenralVehicles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNum)
                </td>
                <td>
                    <p> @{var enterTime = (item.EnteringTime).ToString("dd'/'MMM'/'yy' 'hh':'mm");}  @Html.DisplayFor(modelItem => enterTime)</p>
                </td>
                <td>
                    <p> @{ var total =  item.TotalTimeParked.Days +("d " ) + (item.TotalTimeParked).ToString("hh'h 'mm'm'");}  @Html.DisplayFor(modelItem => total)</p>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-outline-info btn-sm">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-outline-primary btn-sm">Edit</a>
                    <a asp-action="Receipt" asp-route-id="@item.Id" type="button" class="btn btn-outline-warning btn-sm">Checkout</a>
                </td>
            </tr>
        }
    </tbody>
</table>
