@model IEnumerable<Garage_G5.Models.ViewModels.GeneralInfoViewModel>




<table class="table" modal>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNum)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.EnteringTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalParkedTime)
            </th>
            <th></th>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNum)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.EnteringTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalParkedTime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="ReceiptModel" asp-route-id="@item.Id">Check out</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
}
            </tbody>
    </table>
