@model Garage_G5.ViewModels.ReceiptModel

@{
    ViewData["Title"] = "Receipt";
}

@await Html.PartialAsync("NavButtonsPartial", "Checkout")

<div id="OnlyPrint"><h1 class="h1">Your Receipt</h1></div>

<div id="subHeading">
    <!-- Subheading -->
    <h2 id="NoPrint" class="sh2 mb-4" style="clear:both;">Confirm checkout of <strong>@Html.DisplayFor(model => model.VehicleType)</strong> @Html.DisplayFor(model => model.RegistrationNum)</h2>
    <div id="OnlyPrint">Thank you for parking with group 5, please come back soon.</div>
</div>
<!-- Grid row -->
<div class="row mb-5">

    <!-- Grid column -->
    <div class="col-md-12">


        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                10kr / h@*@Html.DisplayFor(model => model.Price)*@
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CheckoutTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CheckoutTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EnteringTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EnteringTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RegistrationNum)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RegistrationNum)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.VehicleType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.VehicleType)
            </dd>
            <dt class="col-sm-2">
                Time parked
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => (model.TotalTimeParked.TotalMinutes))
            </dd>
            <dt class="col-sm-2">
                Amount to pay
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => (model.Price))
            </dd>
        </dl>
    </div>

    <div id="endButtons">
        <a id="NoPrint" asp-action="Index" type="button" class="btn btn-outline-info">Back</a>
        <button id="NoPrint" type="button" class="btn btn-outline-secondary" onclick="window.print()">Print</button>
        <button id="NoPrint" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#checkoutModalCenter">Confirm</button>
    </div>

    <!-- Modal -->
    <form asp-action="Delete">
        <div class="modal fade" id="checkoutModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Confirm Checkout</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to check out the <strong>@Html.DisplayFor(model => model.VehicleType)</strong> @Html.DisplayFor(model => model.RegistrationNum)?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        @*<button type="button" class="btn btn-primary">Save changes</button>*@

                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Confirm" class="btn btn-danger" />

                    </div>
                </div>
            </div>
        </div>
    </form>
