@model Garage_G5.Models.StatisticsModel

@{
    ViewData["Title"] = "Statistics";
}

<!-- Heading -->
<div style="min-width: 10%;max-width:15%;padding-bottom:1em;margin:0em;float:left;"><img style="width:80%" src="/img/g5.png"></div>
<div id="h1"><h1 class="h1" id="NoPrint">Statistics</h1></div>
<a id="NoPrint" asp-action="GeneralInfoGarage" type="button" class="btn btn-default btn">Back to Garage</a>

<div id="subHeading">
    <!-- Subheading -->
    <h2 class="sh2 mb-4" style="clear:both;">A snapshot of the current Garage statistics: </h2>
</div>
<!-- Grid row -->
<div class="row mb-5">

    <table class="table table-striped">
        <tr>
            <th class="col-sm-6">
                @Html.DisplayNameFor(model => model.VehicleTypeCounter)
            </th>
            <td class="col-sm-6">

                @{ var list = Model.VehicleTypeCounter;}
                @{ var listKeys = Model.VehicleTypeCounter.Keys;}

                @{ foreach (var dict in list)
                    {
                        if (dict.Value != 0)
                        {
                            
                                <span>@dict.Key: @dict.Value </span>   
                           
                        }

                    } }


            </td>
        </tr>
        <tr>
            <th class="col-sm-6">
                @Html.DisplayNameFor(model => model.TotalAmountOfWheels)
            </th>
            <td>
                @Html.DisplayFor(model => model.TotalAmountOfWheels)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TotalRevenue)
            </th>
            <td>
                @Html.DisplayFor(model => model.TotalRevenue)kr
            </td>
        </tr>
        <tr>
            <th>
                Longest parked vehicle data
            </th>
            <td>
                @Html.DisplayFor(model => model.LongestParkedVehicleRegNo), parked since @Html.DisplayFor(model => model.LongestParkedVehicleDate)
            </td>

        </tr>
    </table>


