@model Garage_G5.Models.StatisticsModel

@{
    ViewData["Title"] = "Statistics";
}

@await Html.PartialAsync("NavButtonsPartial", "Statistics")

<div id="subHeading">
    <!-- Subheading -->
    <h2 class="sh2 mb-4" style="clear:both;">A snapshot of the current Garage statistics: </h2>
</div>
<!-- Grid row -->
<div class="row mb-5">

    <!-- Grid column -->
    <div class="col-md-12">
        <dl class="row">
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.TotalAmountOfWheels)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.TotalAmountOfWheels)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.TotalRevenue)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.TotalRevenue)kr
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.LongestParkedVehicleDate)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.LongestParkedVehicleDate)
            </dd>
            <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.LongestParkedVehicleRegNo)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.LongestParkedVehicleRegNo)
                </dd>
        </dl>
    </div>
    <div id="endButtons">
        <a asp-action="GeneralInfoGragae" id="NoPrint" type="button" class="btn btn-outline-info">Back</a>
    </div>


