@model IEnumerable<Garage_G5.Models.Member>

@{
    ViewData["Title"] = "Index";
}

<h1>Members</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container"></div>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>
                    <a style="color:black" href="@Url.Action("Sorting", new { sortOrder = ViewBag.FullNameSortParm, CurrentSort = ViewBag.FullNameSortParm })">
                        Name <i class="fa fa-sort" aria-hidden="true"> </i>
                    </a>
                </p>
            </th>
    
            <th>
                <p>
                    Phone
                </p>
            </th>
            <th>
                <p>
                    <a style="color:black" href="@Url.Action("Index", new { sortOrder = ViewBag.AgeSortParm, CurrentSort = ViewBag.AgeSortParm })">
                        Age <i class="fa fa-sort" aria-hidden="true"> </i>
                    </a>
                </p>
            </th>
            <th>
                <p>
                    <a style="color:black" href="@Url.Action("Index", new { sortOrder = ViewBag.PersonalIdNumberSortParm, CurrentSort = ViewBag.PersonalIdNumberSortParm })">
                        Personal-Id <i class="fa fa-sort" aria-hidden="true"> </i>
                    </a>
                </p>
            </th>
            <th>
                <p>
                    <a style="color:black" href="@Url.Action("Index", new { sortOrder = ViewBag.DateAddedSortParm, CurrentSort = ViewBag.DateAddedSortParm })">
                        Date Added <i class="fa fa-sort" aria-hidden="true"> </i>
                    </a>
                </p>
            </th>
            <th>
                <p>
                    Expired
                </p>
            </th>
            <th>
                <p>
                    <a style="color:black" href="@Url.Action("Index", new { sortOrder = ViewBag.MembershipTypeSortParm, CurrentSort = ViewBag.MembershipTypeSortParm })">
                        Membership Type <i class="fa fa-sort" aria-hidden="true"> </i>
                    </a>
                </p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonalIdNumber)
                </td>
                <td>
                     @{var dateAdded = (item.DateAdded).ToString("dd'/'MMM'/'yy' 'hh':'mm");}  @Html.DisplayFor(modelItem => dateAdded)
                </td>
                <td>
                    @{var expired = (item.BonusAccountExpires).ToString("dd'/'MMM'/'yy' 'hh':'mm");}  @Html.DisplayFor(modelItem => expired)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MembershipType)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
