@model Garage_G5.Models.Member

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PersonalIdNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PersonalIdNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd class="col-sm-9">
            @{var dateAdded = (Model.DateAdded)?.ToString("dd/MMM/yyyy");}  @Html.DisplayFor(modelItem => dateAdded)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BonusAccountExpires)
        </dt>
        <dd class="col-sm-9">
            @{var expired = (Model.BonusAccountExpires).ToString("dd/MMM/yyyy");}  @Html.DisplayFor(modelItem => expired)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                Registration No.
            </th>
            <th>
                Brand
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.MemberVehicles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>

                    @{ var hide = (item.IsInGarage == true) ? false : true ;}
                    <a asp-action="CheckInConfirmed" asp-route-id="@item.Id" type="button" hidden="@item.IsInGarage" class="btn btn-outline-success btn-sm pl-3 pr-3">Check-in </a>
                    <a asp-action="CheckOutConfirmed" asp-route-id="@item.Id" type="button" hidden="@hide"  class="btn btn-outline-danger btn-sm">Check-out</a>
                    @*create new car*@

                </td>

            </tr>
        }
    </thead>
</table>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
